body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
} 

.header-img {
    width: 100%;
    display: block;
}

.container, .total-price {
    max-width: 400px;
    margin: 0 auto;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 1rem;
    border-bottom: 1px solid #8B8B8B;
    padding-bottom: 1rem;
}

.item-details {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.item-name {
    font-size: 1.3rem;
}

.item-ingredients {
    color: #8B8B8B;
    font-size: 0.9rem;
}

.item-price, .item-name {
    font-weight: bold;
}

.item-img {
    font-size: 3.5rem;
}

.plus-icon {
    font-size: 1rem;
    border: 1px solid #8B8B8B;
    border-radius: 50%;
    padding: 0.8rem;
    cursor: pointer;
}


/* Order Summary */
.bold-heading-center {
    text-align: center;
    font-weight: bolder;
    margin-top: 4rem;
    font-size: 1.3rem;
}

.item-remove {
    color: #8B8B8B;
}

.order-container {
    display: flex;
    align-items: center;
    font-family: 1rem;
    justify-content: space-between;
}

.total-price {
    border-top: 2px solid black;
    width: 100%;
}

.btn {
    background-color: #16DB99;
    color: white;
    font-weight: bolder; 
    width: 100%;
    outline: none;
    padding: 1rem 4rem;
    border: none;
}

.hidden {
    display: none;
}